@use "./utils/variables" as v;
/*
#second {
  display: grid;
  width: 100%;
  min-height: 90vh;
  //max-width: 1200px;
  margin: auto;
  //padding: 1rem;
  justify-items: center;
  background-color: v.$color-black-light;
}
.about-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  //grid-template-rows: 1fr 1fr;
  min-height: 100%;
}

.aboutImage {
  background-image: url("../../public/about.webp");
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 400px;
}
.aboutImage1 {
  background-image: url("../../public/about.webp");
}
.aboutImage2 {
  background-image: url("../../public/sustainability.webp");
  order: 1;
}
.aboutText {
  display: flex;
  padding: 2rem 1rem;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 800px) {
  #second {
    display: grid;
    padding: 0rem;
  }
  .aboutImage {
    height: 100%;
  }
  .aboutText {
    padding: 2rem;
  }
  .about-container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    min-height: 100%;
    align-items: center;
  }
  .aboutImage2 {
    order: 0;
  }
}
*/
