@use "./utils/variables" as v;

#camping,
#about,
#green-camping,
#crew-setup,
#sustainability,
#work,
#volunteer {
  display: grid;
  width: 100%;
  min-height: 90vh;
  justify-items: center;
  background-color: v.$color-black-light;

  .camping-container,
  .about-container,
  .green-camping-container,
  .crew-setup-container,
  .sustainability-container,
  .work-container,
  .volunteer-container {
    display: grid;
    grid-template-columns: 1fr;
    //grid-template-rows: 1fr 1fr;
    min-height: 100%;

    .camping-text,
    .about-text,
    .green-camping-text,
    .crew-setup-text,
    .sustainability-text,
    .work-text,
    .volunteer-text {
      display: flex;
      padding: 2rem 1rem;
      flex-direction: column;
      gap: 2rem;
      max-width: 600px;

      /*button {
          width: 100px;
          background: v.$color-magenta-normal;
          height: 30px;
          border: none;
          color: v.$color-white-normal;
          border-radius: 5px;
        }*/
    }

    .camping-image,
    .about-image,
    .green-camping-image,
    .crew-setup-image,
    .sustainability-image,
    .work-image,
    .volunteer-image {
      background-size: cover;
      background-position: 50%;
      width: 100%;
      height: 400px;
      background-image: url("../../public/about.webp");
    }
  }
}

@media (min-width: 800px) {
  #camping,
  #about,
  #green-camping,
  #crew-setup,
  #sustainability,
  #work,
  #volunteer {
    .camping-container,
    .about-container,
    .green-camping-container,
    .crew-setup-container,
    .sustainability-container,
    .work-container,
    .volunteer-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      min-height: 100vh;
      align-items: center;

      .text-wrapper {
        width: 100%;
        padding: 32px;

        .camping-text,
        .crew-setup-text,
        .sustainability-text,
        .work-text {
          margin-left: auto;
        }
      }

      .camping-image,
      .about-image,
      .green-camping-image,
      .crew-setup-image,
      .sustainability-image,
      .work-image,
      .volunteer-image {
        height: 100%;
        width: 50vw;
      }

      .about-image,
      .green-camping-image,
      .volunteer-image {
        order: -1;
      }
    }
  }
}
