@use "../styles/utils/variables" as v;

.slideOut {
  position: absolute;
  transition: 0.3s;
  top: 0%;
  background: v.$color-black-dark;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  padding:2rem;
 
}
.right {
  left: 100%;
}
.left {
  left: 0%;
}

.menuIcon {
  z-index: 100;
  position: relative;
  display: flex;
  padding: 1rem;
      justify-content: space-between;
  button {
    width: 50px;
    height: 50px;
    border: none;
    font-size: 3rem;
    background-color: transparent;
    color:v.$color-purple-light;
  }
}
ul {
  list-style: none;
  margin-top: 2.5rem;
  a {
    text-decoration: none;
    color: white;

    font-family: adrianna, sans-serif;

    font-weight: 800;
    font-size: clamp(1rem, 9vw, 4rem);
    font-style: normal;
  }
  a:hover {
    color:v.$color-purple-light;
  }
}
