@use "../styles/utils/variables" as v;

.setBodyFixed {
  position: fixed;
  right: 0px;
  left: 0;
}
.slideOut {
  position: absolute;
  transition: 0.3s;
  top: 0%;
  left: 100%;
  background: v.$color-black-dark;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 2rem;
  z-index: 4;
}
.right {
  left: 100%;
}
.left {
  left: 0%;
}

.hide {
  display: none;
}

.menuIcon {
  z-index: 100;
  position: relative;
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  button {
    width: 50px;
    height: 50px;
    border: none;
    font-size: 3rem;
    background-color: transparent;
    color: transparent;
    padding-bottom: 5px;
    display: grid;
    align-content: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: v.$color-purple-normal;
    font-weight: 900;
  }
  a {
    display: grid;
    align-content: center;
    text-decoration: none;
    h3 {
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: v.$color-purple-normal;
      font-weight: 900;
    }
    .menu-logo {
      font-size: clamp(1.44rem, 1.16rem + 2vw, 2.5rem);
    }
  }
}
.changeFont {
  font-size: 2.5rem !important;
  padding-bottom: 0px;
}
ul {
  list-style: none;
  margin-top: 2.5rem;
  a {
    text-decoration: none;
    color: white;
    font-family: v.$font-main;
    font-weight: 800;
    font-size: calc(3vw + 3vh);
    //font-size: clamp(1rem, 8vh, 4rem);
    font-style: normal;
  }
  a:hover {
    color: v.$color-purple-normal;
  }
}

@media (max-width: 800px) {
  .menuIcon {
    padding: 1rem;
  }
  .slideOut {
    padding: 1rem;
  }
  ul {
    a {
      font-size: calc(6vw + 3vh);
    }
  }
}
