@use "../styles/utils/variables" as v;

#first-section {
  width: 100%;
  height: 100vh;
  background-image: url("../../public/headerBG.webp");
  background-size: cover;
  background-position: 50%;
  margin-top: -80px;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  position: relative;
  //padding-bottom: 5rem;

  div {
    display: flex;
  }
}
a {
  z-index: 3;
}
#first-section::after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.475);
  z-index: 1;
  inset: 0 0 0 0;
}
//countdown font size
.react-countdown-simple__date-time,
.react-countdown-simple__colon {
  font-size: clamp(1rem, 8vw, 6rem) !important;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: v.$color-cyan-normal;
  z-index: 2;
}

@media (min-width: 800px) {
  .react-countdown-simple__date-time,
  .react-countdown-simple__colon {
    -webkit-text-stroke-width: 3px;
  }
}
