@use "../styles/utils/variables" as v;

#first-section {
  width: 100%;
  height: 95vh;
  background-image: url("../../public/headerBG.webp");
  background-size: cover;
  background-position: 50%;
  margin-top: -86px;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 5rem;

  button {
    width: 100px;
    background: v.$color-magenta-normal;
    height: 30px;
    border: none;
    color: v.$color-white-normal;
    border-radius: 5px;
  }
}

//countdown font size
.react-countdown-simple__date-time,
.react-countdown-simple__colon {
  font-size: clamp(1rem, 8vw, 4rem) !important;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: v.$color-cyan-normal;
}

@media (min-width: 800px) {
.react-countdown-simple__date-time,
.react-countdown-simple__colon {
  -webkit-text-stroke-width: 3px;
}
}