@use "./utils/variables" as v;
#jobs {
  #job-sec {
    display: grid;
    width: 100%;
    min-height: 90vh;
    margin: auto;
    justify-items: center;
    background-color: v.$color-black-light;
  }
  .about-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  //grid-template-rows: 1fr 1fr;
  min-height: 100%;
}

.aboutImage {
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 400px;
}
.aboutImage1 {
  background-image: url("../../public/about.webp");
}

.aboutImage2 {
  background-image: url("../../public/about.webp");
  order: 1;
}
.aboutImage3 {
  background-image: url("../../public/about.webp");
}
.aboutText {
  display: flex;
  padding: 2rem 1rem;
  flex-direction: column;
  gap: 2rem;
  p a{
    color: v.$color-purple-normal;
  }
   p a:hover{
    color: v.$color-purple-light;
  }
  button {
    width: 100px;
    background: v.$color-magenta-normal;
    height: 30px;
    border: none;
    color: v.$color-white-normal;
    border-radius: 5px;
  }
}
}
@media (min-width: 800px) {
  #jobs{
  #job-sec{
    display: grid;
    padding: 0rem;
  }
  .aboutImage {
    height: 100%;
  }
  .aboutText {
    padding: 2rem;
  }
  .about-container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    min-height: 100%;
    align-items: center;
  }
  .aboutImage2 {
    order: 0;
  }
}
}

/*#about-camping{
  #second {
  display: grid;
  width: 100%;
  min-height: 90vh;
  //max-width: 1200px;
  margin: auto;
  //padding: 1rem;
  justify-items: center;
  background-color: v.$color-black-light;
}
.about-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  //grid-template-rows: 1fr 1fr;
  min-height: 100%;
}

.aboutImage {
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 400px;
}
.aboutImage1 {
  background-image: url("../../public/about.webp");
}

.aboutImage2 {
  background-image: url("../../public/about.webp");
  order: 1;
}
.aboutImage3 {
  background-image: url("../../public/about.webp");
}
.aboutText {
  display: flex;
  padding: 2rem 1rem;
  flex-direction: column;
  gap: 2rem;
  button {
    width: 100px;
    background: v.$color-magenta-normal;
    height: 30px;
    border: none;
    color: v.$color-white-normal;
    border-radius: 5px;
  }
}

}

@media (min-width: 800px) {
  #jobs{
  #job-sec{
    display: grid;
    padding: 0rem;
  }
  .aboutImage {
    height: 100%;
  }
  .aboutText {
    padding: 2rem;
  }
  .about-container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    min-height: 100%;
    align-items: center;
  }
  .aboutImage2 {
    order: 0;
  }
}
}*/
