@use "./utils/variables" as v;

#new-section {
  scroll-snap-type: y mandatory;
  background-color: v.$color-black-light;
  h2 {
    text-align: center;
    padding-top: 2rem;
    a {
      color: v.$color-white-normal;
    }
  }
  .story-wrapper {
    overflow-x: scroll;

    .story-grid {
      display: flex;
      //min-height: 80vh;
      gap: 2rem;
      padding: 2rem;
      align-items: center;
      width: max-content;
      .news-card {
        display: grid;
        grid-template-rows: 200px 1fr;
        background-color: #04011a;
        max-width: 300px;
        max-height: 600px;
        border-radius: 5px;
          .newsImage {
        border-radius: 5px 5px 0px 0px;
      }
      }

    }

    @media (min-width: 708px) {
      .story-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
        justify-content: center;
        width: unset;
      }
    }
    .news-card {
      display: grid;
      max-height: 500px;
      grid-template-rows: 40% 1fr;
      background-color: v.$color-black-dark;
      max-width: 300px;
      .newsImage {
        background-size: cover;
        width: 100%;
        height: 100%;
      }
      .storyContent {
        overflow: hidden;
        padding: 1rem;
        display: grid;
        gap: 1rem;
        height: 21rem;
        p {
          overflow: hidden;
          max-height: 100%;
        }
        button {
          width: max-content;
          margin-top: auto;
          /*width: 100px;
          background: v.$color-purple-normal;
          height: 30px;
          border: none;
          color: #f2f0f5;
          border-radius: 5px;*/
          a {
            text-decoration: none;
            color: v.$color-white-normal;
          }
        }
      }
    }

    @media (min-width: 708px) {
      overflow-x: unset;
    }
  }
}
.article {
  .article-grid {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    .newsImage {
      background-size: cover;
      background-position: 50%;
      width: 100%;
      height: auto;
    }
    .article-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
    }
  }
  button {
    /*width: 100px;*/
    background: v.$color-purple-normal;
    /*height: 30px;*/
    border: none;
    color: #f2f0f5;
    border-radius: 5px;
    margin-block: 1rem;
    margin-left: 1rem;
    a {
      color: #f2f0f5;
      text-decoration: none;
    }
  }
}
// WEB
@media (min-width: 800px) {
  .article {
    //max-width: 1200px;
    margin: auto;
    .article-grid {
      display: flex;
      gap: 1rem;
      min-height: 75vh;
    }
    .newsImage {
      background-size: cover;
      background-position: 50%;
      width: 100%;
      height: auto;
    }
    .article-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }
  }
}
