@use "./utils/variables" as v;

*{
    padding: 0;
    margin: 0;
}

h2{
    color: orange;
    text-align: center;
    padding-block: 2rem;
}
h4{
    padding: 1rem;
}
img{
    grid-column: 1/3;
    max-width: 100%;
    margin: auto;
    
}
section{
    background-color: v.$color-black-dark;
    min-height: 80vh;
    padding: 2rem;
    >div{
        max-width: 1200px;
        margin: auto;
    }
}
.schedule-info-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    gap: 0.5rem;
    span{
        color: v.$color-white-dark;
        font-size: 0.6rem;
    }
    >p{
        font-weight: 800;
    }
    hr{
        grid-column: 1/3;
    }
}


@media (min-width: 900px) {
   .schedule-webGrid{
    display: flex;
    grid-template-rows: 1fr 0.5fr 1fr 0.5fr;
    width: 100%;
    align-items: center;
    justify-content: center;
    h4{
        grid-column: 1/5;
    }
   }    
   .container{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
   }
.schedule-info-grid{
    display: block;
}
}
