@use "./utils/variables" as v;

h2 {
  color: orange;
  text-align: center;
  //padding-block: 2rem;
}
h4 {
  padding: 1rem;
}

img {
  grid-column: 1/3;
  max-width: 100%;
  margin: auto;
}

#schedule {
  background-color: v.$color-black-dark;
  min-height: 80vh;
  padding: 1rem;

  #schedule-grid {
    max-width: 1200px;
    margin: auto;
  }
}

label {
  border: none;
  background-color: v.$color-black-light;
  color: v.$color-white-normal;
  padding: 0.5rem;
  position: relative;
  flex: 1;
  text-align: center;
  min-width: 120px;

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
    appearance: none;

    &:checked {
      border: 2px solid v.$color-purple-normal;
    }
  }
}

.times {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid v.$color-white-normal;
}

#list-of-days,
#list-of-stages {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 4px;
  margin-bottom: 32px;
}

.weekdays {
  // display: none;
}

.show-day {
  display: block;
}

@media (min-width: 900px) {
  section {
    padding: 2rem;
  }

  #stage-view-days {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
  }
}
