//mobile version
#tickets {
  padding: 1rem;
  label {
    color: white;
  }
   fieldset {
      border: none;
    }

  #ticket-type {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    gap: 1rem;
    border: none;
    label {
      min-width: 200px;
    }
    input {
      width: 50px;
    }
   
  }
  #camping-area {
    border: none;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    gap: 1rem;
    input {
      width: 50px;
    }
  }
}

//web
