@use "./utils/variables" as v;

//mobile version
#ticket-section {
  width: 100%;
  //padding: 2rem;

  h3 {
    margin-bottom: 1.5rem;
  }

  .field-required {
    color: red;
    font-size: 0.9rem;
  }

  .timer {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: transparent;
    font-size: 2.5rem;
    display: flex;
    justify-content: end;
  }
  #tickets {
    display: grid;
    justify-content: center;
    padding: 1rem;
    min-height: 80vh;
    max-width: 480px;
    margin-inline: auto;
    label {
      color: v.$color-white-normal;
      border-radius: 5px;
      background-color: v.$color-black-dark;

      &:not(.label-fullname, .label-email, .label-birthday, .cardnumber, .expires, .cvc, .cardholder) {
        padding: 8px 16px;
      }
    }

    fieldset,
    .optionals-wrapper {
      border: none;

      &:not(.optionals) {
        padding: 16px;
        border-radius: 5px;
        background-color: v.$color-black-light;
      }
    }

    input {
      background-color: v.$color-black-dark;
      border: 1px solid v.$color-white-darker;
      color: v.$color-white-normal;
      border-radius: 5px;
      font-size: 1rem;
      width: 100%;
      height: 2.5rem;

      &:is([name="regular"], [name="vip"]) {
        text-align: center;
      }

      &::placeholder {
        color: v.$color-white-darker;
      }

      &:focus-visible {
        outline: 0;
        border: 2px solid v.$color-purple-light;
      }
    }

    .steps-content {
      margin-bottom: auto;
    }

    .button-container {
      display: flex;
      justify-content: space-between;
    }

    .single-button {
      display: grid;
      justify-items: end;
    }

    img {
      width: 100%;
      height: 100%;
    }

    #ticket-type {
      display: grid;
      grid-template-columns: 4fr 1fr;
      gap: 1rem;
      /*  display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    gap: 1rem; */

      label {
        /*min-width: 200px;*/
        width: 100%;
      }
      /*input {
        width: 50px;
      }*/
      .regular-label,
      .vip-label {
        display: flex;
        justify-content: space-between;
      }
    }

    .ticketInfo {
      padding: 16px;
      border-radius: 5px;
      background-color: v.$color-black-light;

      summary {
        color: v.$color-white-normal;
        font-weight: 700;
        cursor: pointer;
      }

      .ticket-info {
        display: flex;
        flex-direction: column;

        label {
          margin-top: 0.5rem;
        }

        label + label {
          margin-top: 1rem;
        }
      }

      + .ticketInfo {
        margin-top: 16px;
      }
    }

    #camping-area {
      display: flex;
      flex-direction: column;
      //grid-template-columns: 1.5fr 0.5fr 0.5fr;
      gap: 1rem;
      input {
        width: 50px;
        accent-color: #9400f6;
      }
      .avail-box {
        background-color: v.$color-black-dark;
        border-radius: 5px;
        width: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
      }
      /*   .without-camping{
        display: flex;
        justify-content: space-between;
        width: 100%;
      } */
      #no-camping {
        grid-column: 3/4;
      }
      .campContainer {
        display: grid;
        grid-template-columns: 6fr 3fr 1fr;
        gap: 1rem;

        label,
        input {
          cursor: pointer;
        }
      }
    }

    .optionals {
      display: grid;
      grid-template-columns: 1.5fr 0.35fr;
      gap: 0.5rem;
      #green-camping {
        min-height: 0;
      }
      input:checked {
        accent-color: #9400f6;
      }
      label {
        display: flex;
        justify-content: space-between;
      }
      #green-camping {
        min-height: 0;
      }
    }
    .ticket-info {
      display: grid;
      /*  grid-template-columns: 0.5fr 1fr; */
      label {
        color: white;
        background-color: transparent;
        color: v.$color-white-dark;

        span {
          color: red;
          /*font-size: 0.8rem;*/
        }
      }
      .birthday {
        display: block;
      }
      input {
        width: 100%;
        padding: 8px;
      }
    }

    #basket {
      color: white;
      .basket-container {
        background-color: v.$color-black-dark;
        border-radius: 5px;
        padding: 0.5rem;
      }

      ul {
        list-style: none;
        margin-top: 0;
        display: grid;
        gap: 0.5rem;

        li {
          display: flex;
          justify-content: space-between;
          font-weight: 500;
        }
      }

      p {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
      }
    }
    .credit-headline {
      margin-top: 1.5rem;
    }
    #creditcard-info {
      display: grid;
      grid-template-rows: repeat(3, calc(72px + 1rem));
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      margin-bottom: 40px;

      label {
        background-color: transparent;
      }
      input {
        padding: 10px;
      }
      .cardnumber {
        grid-column: 1/ 4;
        grid-row: 2/3;
      }

      .expires {
        grid-column: 1/2;
        grid-row: 3/4;
      }
      .cvc {
        grid-column: 2/3;
        grid-row: 3/4;
        width: 100%;
      }
      .cardholder {
        grid-column: 1/ 4;
        grid-row: 1/2;
      }

      #cardnumber,
      #cardholder {
        width: 100%;
      }

      #cvc {
        display: block;
        width: 120px;
      }

      .expire-container {
        display: flex;
        background-color: v.$color-black-dark;
        border-radius: 5px;
        border: 1px solid v.$color-white-darker;
        align-items: center;
        width: 100%;
        position: relative;

        &.focus-visible {
          border: 1px solid transparent;
        }

        &.focus-visible::after {
          content: "";
          position: absolute;
          width: calc(100% + 2px);
          height: calc(100% + 2px);
          top: -1px;
          left: -1px;
          border: 2px solid v.$color-purple-light;
          border-radius: 5px;
        }

        #expire-day,
        #expire-month {
          display: block;
          border: 0;
        }
      }
      button {
        width: 100%;
        border-radius: 5px;
      }
    }
  }
}

// ANT DESIGN

.ant-steps-item-content,
.ant-steps-item-tail {
  display: none !important;
}

.ant-steps-item-icon {
  margin: 16px !important;
}

.ant-steps-item {
  flex: 1;
}

#ticket-section {
  .ant-steps {
    .ant-steps-item {
    }
    .ant-steps-item-wait {
      // Steps to complete
      .ant-steps-item-icon,
      .ant-steps-item-tail {
        background-color: v.$color-white-normal;
        font-family: "Poppins", sans-serif;
        .ant-steps-item-title {
          color: red;
        }
      }
    }
  }
  // brithday picker
  .css-dev-only-do-not-override-1ij74fp.ant-picker {
    background: transparent;
    border: none;
    padding: 0;

    span {
      display: none;
    }
  }

  .css-dev-only-do-not-override-1ij74fp.ant-steps.ant-steps-vertical {
    flex-direction: row;
  }
  // current selected
  .css-dev-only-do-not-override-1ij74fp.ant-steps
    .ant-steps-item-process
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title {
    color: white;
  }
  // tail
  .css-dev-only-do-not-override-1ij74fp.ant-steps
    .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title::after {
    background-color: #fc006500;
  }
  .ant-steps-item-tail {
    background-color: transparent !important;
  }
  // tail mobile
  .css-dev-only-do-not-override-1ij74fp.ant-steps
    .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-tail::after {
    background-color: #fc006500;
  }
  #ticket-section .ant-steps .ant-steps-item-wait .ant-steps-item-icon,
  #ticket-section .ant-steps .ant-steps-item-wait .ant-steps-item-tail {
    background-color: #fc006500;
  }
  // title competed
  .css-dev-only-do-not-override-1ij74fp.ant-steps
    .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title {
    color: white;
  }
  // active circle
  .css-dev-only-do-not-override-1ij74fp.ant-steps .ant-steps-item-process .ant-steps-item-icon {
    background-color: v.$color-purple-normal;
    border: v.$color-purple-normal;
    font-weight: 700;
  }

  //checkmark
  .css-dev-only-do-not-override-1ij74fp.ant-steps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    color: v.$color-purple-normal;
  }
  //completed circle
  .css-dev-only-do-not-override-1ij74fp.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
    //background-color: v.$color-white-normal;
    background-color: v.$color-black-dark;
    border: 2px solid #9400f6;
  }
  // Title not completed
  .css-dev-only-do-not-override-1ij74fp.ant-steps .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
    color: v.$color-black-light;
    font-weight: 500;
  }
  // button color previous

  .ant-btn.css-dev-only-do-not-override-1ij74fp.ant-btn-default {
    background-color: transparent;
    border: 2px solid v.$color-purple-normal;
    /*box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    color: white;
    min-width: 100px;*/
    height: unset;

    &:hover {
      border: 2px solid v.$color-purple-light;
      color: v.$color-white-normal;
      background-color: v.$color-purple-light;
    }
  }

  // button color next
  .css-dev-only-do-not-override-1ij74fp.ant-btn-primary {
    /*background-color: v.$color-purple-normal;
    min-width: 100px;*/
    height: unset;

    &:hover {
      background-color: v.$color-purple-light;
    }
  }
  // button placement
  .steps-action {
    display: flex;
    margin-top: 40px;
  }
  .one-button {
    justify-content: end;
  }
  .two-button {
    justify-content: space-between;
  }
}

//web
@media (min-width: 600px) {
  #ticket-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    #tickets {
      padding: 40px;
      display: flex;
      padding: 1rem;
      margin: auto;
      min-height: 80vh;
      width: 480px;
      flex-direction: column;
      justify-content: space-between;
      .type-container {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        justify-items: center;
        #ticket-type {
          justify-items: center;
          label {
            min-width: 250px;
          }
        }
        /*   .concert-img{
            width: 100%;
            height: auto;            
       background-image: url(public/concert.png);
        background-size: cover; 
        background-position: 50%;

    } */
      }
    }

    .steps-content {
      margin-top: 5vh;
    }

    .concert-img-wrapper {
      width: 100%;
      height: 100%;

      .concert-img {
        width: 100%;
        height: 100vh;
        background-image: url(public/concert.png);
        background-size: cover;
        background-position: 50%;
        position: sticky;
        top: 0;
      }
    }
  }
}
