@use "./utils/variables" as v;

//mobile version
#ticket-section {
  width: 100%;
  //padding: 2rem;
  #tickets {
    display: grid;
    justify-content: center;
    padding: 1rem;
    min-height: 80vh;
    align-content: space-between;
    label {
      color: white;
      border-radius: 5px;
      background-color: rgb(44, 42, 45);
      padding: 0.35rem;
    }

    fieldset {
      border: none;
    }
    input {
      background-color: rgb(44, 42, 45);
      border: none;
      border-radius: 5px;
      color: white;
    }
    .button-container {
      display: flex;
      justify-content: space-between;
    }
    .single-button {
      display: grid;
      justify-items: end;
    }
    img {
      width: 100%;
      height: 100%;
    }
    #ticket-type {
      display: grid;
      grid-template-columns: 1.5fr 0.5fr;
      gap: 1rem;
      /*  display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    gap: 1rem; */

      label {
        min-width: 200px;
      }
      input {
        width: 50px;
      }
      .regular-label,
      .vip-label {
        display: flex;
        justify-content: space-between;
      }
    }

    #camping-area {
      display: grid;
      //grid-template-columns: 1.5fr 0.5fr 0.5fr;
      gap: 1rem;
      input {
        width: 50px;
        accent-color:#9400f6;
      }
      .avail-box {
        background-color: rgb(44, 42, 45);
        border-radius: 5px;
        width: 50px;
        display: grid;
        justify-items: center;
        align-items: center;
      }
      /*   .without-camping{
        display: flex;
        justify-content: space-between;
        width: 100%;
      } */
      #no-camping {
        grid-column: 3/4;
      }
      .campContainer {
        display: grid;
        grid-template-columns: 1.5fr 0.5fr 0.5fr;
        gap: 1rem;
      }
    }

    .optionals {
      display: grid;
      grid-template-columns: 1.5fr 0.35fr;
      gap: 0.5rem;
      #green-camping{
        min-height: 0;
      }
      input:checked {
        accent-color: #9400f6;
      }
      label {
        display: flex;
        justify-content: space-between;
      }
      #green-camping{
        min-height: 0;
      }
    }
    .ticket-info {
      display: grid;
      /*  grid-template-columns: 0.5fr 1fr; */
      h5 {
        color: white;
      }
      label {
        color: white;
        background-color: transparent;
        span{
              font-size: 0.8rem;
    color: red;
        }
      }
      input {
        width: 100%;
        padding: 8px;
      }
      input::placeholder {
        color: white;
      }
      input[type="date"] {
        color: white;
        padding: 8px;
      }
    }

    #basket {
      color: white;
      .basket-container {
        background-color: rgb(44, 42, 45);

        border-radius: 5px;
      }

      ul {
        list-style: none;
      }
      p {
        text-align: end;
      }
    }
    #creditcard-info {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;

      label {
        background-color: transparent;
      }
      input {
        padding: 10px;
      }
      .cardnumber {
        grid-column: 1/ 3;
        grid-row: 1/2;
      }

      .expires {
        grid-column: 1/2;
        grid-row: 2/3;
      }
      .cvc {
        grid-column: 2/3;
        grid-row: 2/3;
        width: 50px;
      }
      .cardholder {
        grid-column: 1/ 3;
        grid-row: 3/4;
      }

      #cardnumber,
      #cardholder {
        width: 100%;
      }

      #cvc {
        display: block;
        width: 120px;
      }

      .expire-container {
        /*   display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: rgb(44, 42, 45);
      border-radius: 5px;
      align-items: center;
      width: 100%; */

        display: flex;
        background-color: rgb(44, 42, 45);
        border-radius: 5px;
        align-items: center;
        width: 110px;
      }
      #expire-day,
      #expire-month {
        width: 60px;
        display: block;
      }
      button {
        width: 100%;
        border-radius: 5px;
      }
    }
  }
}

// ANT DESIGN
.steps-content{
  padding: 1rem;
}
#ticket-section {
  .ant-steps {
    .ant-steps-item-wait {
      // Steps to complete
      .ant-steps-item-icon,
      .ant-steps-item-tail {
        background-color: v.$color-white-normal;
        .ant-steps-item-title {
          color: red;
        }
      }
    }
  }
  // brithday picker
.css-dev-only-do-not-override-1ij74fp.ant-picker{
background: transparent;
border: none;
}


  .css-dev-only-do-not-override-1ij74fp.ant-steps.ant-steps-vertical {
    flex-direction: row;
  }
  // current selected
  .css-dev-only-do-not-override-1ij74fp.ant-steps
    .ant-steps-item-process
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title {
    color: white;
  }
  // tail
  .css-dev-only-do-not-override-1ij74fp.ant-steps
    .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title::after {
    background-color: #fc006500;
  }
  .ant-steps-item-tail {
    background-color: transparent !important;
  }
  // tail mobile
  .css-dev-only-do-not-override-1ij74fp.ant-steps
    .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-tail::after {
    background-color: #fc006500;
  }
  #ticket-section .ant-steps .ant-steps-item-wait .ant-steps-item-icon,
  #ticket-section .ant-steps .ant-steps-item-wait .ant-steps-item-tail {
    background-color: #fc006500;
  }
  // title competed
  .css-dev-only-do-not-override-1ij74fp.ant-steps
    .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title {
    color: white;
  }
  // active circle
  .css-dev-only-do-not-override-1ij74fp.ant-steps
    .ant-steps-item-process
    .ant-steps-item-icon {
    background-color: v.$color-purple-normal;
    border: v.$color-purple-normal;
  }

  //checkmark
  .css-dev-only-do-not-override-1ij74fp.ant-steps
    .ant-steps-item-finish
    .ant-steps-item-icon
    > .ant-steps-icon {
    color: v.$color-purple-normal;
  }
  //completed circle
  .css-dev-only-do-not-override-1ij74fp.ant-steps
    .ant-steps-item-finish
    .ant-steps-item-icon {
    //background-color: v.$color-white-normal;
    background-color: transparent;
    border: 2px solid #9400f6;
  }
  // Title not completed
  .css-dev-only-do-not-override-1ij74fp.ant-steps
    .ant-steps-item-wait
    .ant-steps-item-icon
    > .ant-steps-icon {
    color: v.$color-black-light;
  }
  // button color previous

  .ant-btn.css-dev-only-do-not-override-1ij74fp.ant-btn-default {
    background-color: transparent;
    border: 2px solid #9400f6;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    color: white;
  }

  // button color next
  .css-dev-only-do-not-override-1ij74fp.ant-btn-primary {
    background-color: v.$color-purple-normal;
  }
  // button placement
  .steps-action {
    display: flex;
  }
  .one-button {
    justify-content: end;
  }
  .two-button {
    justify-content: space-between;
  }
}

//web
@media (min-width: 600px) {
  #ticket-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    #tickets {
      padding: 2rem !important;
      display: flex;
      padding: 1rem;
      margin: auto;
      min-height: 80vh;
      max-width: 480px;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      .type-container {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        justify-items: center;
        #ticket-type {
          justify-items: center;
        }
        /*   .concert-img{
            width: 100%;
            height: auto;            
       background-image: url(public/concert.png);
        background-size: cover; 
        background-position: 50%;

    } */
      }
    }
    .concert-img {
      width: 100%;
      height: 100%;
      background-image: url(public/concert.png);
      background-size: cover;
      background-position: 50%;
      position: sticky;
      top: 0;
    }
  }
}
