@use "./utils/variables" as v;

// breakpoint for media query
$breakpoint: 1060px;

#tickets-shop {
  min-height: 70vh;
  padding: 2rem 0px;

  h2 {
    text-align: center;
  }

  #shop-wrapper {
    overflow-x: scroll;

    @media (min-width: $breakpoint) {
      overflow-x: unset;
    }

    #shop-layout {
      display: flex;
      gap: 24px;
      align-items: center;
      padding: 32px 20px;
      width: max-content;

      @media (min-width: $breakpoint) {
        justify-content: space-between;
        margin-inline: auto;
        flex-wrap: wrap;
        width: unset;
        max-width: 1080px;
      }

      .ticket-card {
        border-radius: 5px;
        background-color: v.$color-black-light;
        width: 320px;
        box-shadow: 0px 8px 48px -32px v.$color-black-dark;

        &.highlighted {
          z-index: 2;
          box-shadow: 0px 0px 48px -24px v.$color-purple-normal;
          &::before {
            content: "POPULAR";
            display: block;
            text-align: center;
            color: v.$color-white-normal;
            padding-block: 0.25rem;
            background-color: v.$color-purple-normal;
            border-radius: 5px 5px 0 0;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.8rem;
          }

          > div {
            border: 3px solid v.$color-purple-normal;
            background-color: v.$color-black-lighter;
          }
        }

        @media (min-width: $breakpoint) {
          &.ticket-regular {
            order: 1;
          }

          &.ticket-vip {
            order: 2;
          }

          &.ticket-camping {
            order: 3;
          }
        }

        > div {
          display: flex;
          flex-direction: column;
          gap: 12px;
          padding: 16px;
          border-radius: 0 0 5px 5px;

          > div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;
            align-items: center;
            margin-top: 40px;

            a {
              font-size: unset;
            }

            .ticket-card-price {
              font-size: 1.5rem;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
