// colors

$color-black-normal: #0e0826;
$color-black-dark: #04011a;
$color-black-light: #191333;

$color-white-normal: #f2f0f5;
$color-white-dark: #e1dfe3;

$color-magenta-normal: #f515c1;
$color-magenta-light: #f16bd1;

$color-purple-normal: #9400f6;
$color-purple-light: #b04df2;

$color-green-normal: #00f642;
$color-green-light: #71ff97;

$color-cyan-normal: #0ee4f3;
$color-cyan-light: #71f6ff;
