@use "./styles/utils/variables" as v;
@import url("https://use.typekit.net/ibm5gso.css");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 1.125em;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: v.$color-black-normal;
  // overflow-x: hidden;
  width: 100vw;
}

// fonts

h1,
h2,
h3,
h4 {
  color: v.$color-white-normal;
  line-height: 1.1;
  font-weight: 700;
}

h1 {
  font-size: clamp(2.074rem, 1.11rem + 3.848vw, 3.998rem);
  padding-bottom: 1rem;
}

h2 {
  font-size: clamp(1.728rem, 1.1785rem + 2.198vw, 2.827rem);
  padding-bottom: 1rem;
}

h3 {
  font-size: clamp(1.44rem, 1.16rem + 1.118vw, 1.999rem);
  padding-bottom: 0.5rem;
}

h4 {
  font-size: clamp(1.2rem, 1.093rem + 0.428vw, 1.414rem);
  padding-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  color: v.$color-white-dark;
  margin-bottom: 0;
  line-height: 1.5;
}

// classes

.max-width {
  max-width: 1200px;
  margin-inline: auto;
}

// elements

button {
  cursor: pointer;
}

a {
  width: max-content;
  text-decoration: none;
  color: v.$color-cyan-normal;
  transition: color 0.15s;

  &:hover {
    color: v.$color-cyan-light;
  }
}

.btn {
  background-color: v.$color-purple-normal;
  border: none;
  color: v.$color-white-normal;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  transition: background-color 0.15s;

  &:hover {
    background-color: v.$color-purple-light;
  }
}
